.text
	margin-top  var(--LHC)
	font-size   var(--FZ_Text)
	transition  color var(--TimeTrans)
	font-weight var(--FW_Light)
	color       var(--ColorTextPri)
	line-height 1.25

	&.heading
		margin-top calc(2 * var(--LHC))
		font-size  var(--FZ_Heading)

	&.headline
		font-size var(--FZ_Headline)

	&.display
		font-size var(--FZ_Display)

	&.caption
		font-size var(--FZ_Caption)
		color     var(--ColorTextSec)

	&.bold
		font-weight var(--FW_Bold)

	&.secondary
		color var(--ColorTextSec)

	&.ta-right
		text-align right

	&.ta-center
		text-align center
