body
    // COLORS
    // Colors: Greys
    --Grey000 #FFFFFF
    --Grey050 #FAFAFA
    --Grey100 #F5F5F5
    --Grey200 #EEEEEE
    --Grey250 #E7E7E7
    --Grey300 #E0E0E0
    --Grey400 #BDBDBD
    --Grey500 #9E9E9E
    --Grey600 #757575
    --Grey700 #616161
    --Grey800 #404040
    --Grey850 #303030
    --Grey900 #202020
    --Grey950 #000000
    // Colors: Palette
    --Red-Light         #ff867c
    --Red-Medium        #ef5350
    --Red-Dark          #b61827
    --Pink-Light        #ff77a9
    --Pink-Medium       #ec407a
    --Pink-Dark         #b4004e
    --Purple-Light      #df78ef
    --Purple-Medium     #ab47bc
    --Purple-Dark       #790e8b
    --DeepPurple-Light  #b085f5
    --DeepPurple-Medium #7e57c2
    --DeepPurple-Dark   #4d2c91
    --Indigo-Light      #8e99f3
    --Indigo-Medium     #5c6bc0
    --Indigo-Dark       #26418f
    --Blue-Light        #80d6ff
    --Blue-Medium       #42a5f5
    --Blue-Dark         #0077c2
    --LightBlue-Light   #73e8ff
    --LightBlue-Medium  #29b6f6
    --LightBlue-Dark    #0086c3
    --Cyan-Light        #6ff9ff
    --Cyan-Medium       #26c6da
    --Cyan-Dark         #0095a8
    --Teal-Light        #64d8cb
    --Teal-Medium       #26a69a
    --Teal-Dark         #00766c
    --Green-Light       #98ee99
    --Green-Medium      #66bb6a
    --Green-Dark        #338a3e
    --LightGreen-Light  #cfff95
    --LightGreen-Medium #9ccc65
    --LightGreen-Dark   #6b9b37
    --Lime-Light        #ffff89
    --Lime-Medium       #d3e057
    --Lime-Dark         #9fae22
    --Yellow-Light      #ffff8b
    --Yellow-Medium     #ffee58
    --Yellow-Dark       #c9bc1f
    --Amber-Light       #fffd61
    --Amber-Medium      #ffca28
    --Amber-Dark        #c79a00
    --Orange-Light      #ffd95b
    --Orange-Medium     #ffa726
    --Orange-Dark       #c77800
    --DeepOrange-Light  #ffa270
    --DeepOrange-Medium #ff7043
    --DeepOrange-Dark   #c63f17
    --Brown-Light       #be9c91
    --Brown-Medium      #8d6e63
    --Brown-Dark        #5f4339
    --BlueGrey-Light    #a7c0cd
    --BlueGrey-Medium   #78909c
    --BlueGrey-Dark     #4b636e
    // Colors: Status
    --ColorError   var(--Red-Medium)
    --ColorSuccess var(--Blue-Medium)
    --ColorWarning var(--Orange-Medium)
    // Text/Icons: Opacity
    --OpacityPri .9
    --OpacitySec .5
    --OpacityTri .35
    // Colors: Text
    --ColorTextPri rgba(black, .9)
    --ColorTextSec rgba(black, .7)
    --ColorTextTri rgba(black, .5)
    // Colors: Icons
    --ColorIconPri rgba(black, .8)
    --ColorIconSec rgba(black, .6)
    --ColorIconTri rgba(black, .4)
    // FONTS
    // Font Family
    --FontFamily     'Titillium Web', sans-serif
    --FontFamilyMono 'Overpass Mono', monospace
    --FontFamilyIcon 'Material Icons Two Tone'
    // Line Height Correction
    --LHC -1px
    // Icon Space from Image Border
    --IconSpace 2px
    // Font Weight
    --FW_Light 400
    --FW_Bold  600
    --FW_Mono  400
    // Font Size
    --FZ_Text      14px
    --FZ_Button    15px
    --FZ_Heading   24px
    --FZ_Headline  20px
    --FZ_Caption   12px
    --FZ_Display   32px
    --FZ_IconSmall 20px
    --FZ_Icon      24px
    --FZ_IconLarge 32px
    // IDENTITY
    // Accent
    --ColorAccent            var(--Blue-Medium)
    --ColorAccentIcon        var(--Blue-Dark)
    --ColorAccentText        var(--Blue-Dark)
    --ColorTextOnAccent      var(--Grey000)
    --ColorIconOnAccent      var(--Grey100)
    // Background Shading
    --ColorBGLight rgba(white, .7)
    --ColorBG      rgba(white, .5)
    --ColorBGDark  rgba(white, .3)
    // Acrylic
    --AcrylicBlur 8px
    // Dots
    --ColorDot       var(--Grey400)
    --ColorDotDark   var(--Grey600)
    --ColorDotActive var(--ColorAccentIcon)
    // Shadows
    --Shadow       inset 0 0 0 2px rgba(white, .1)
    --ShadowRaised inset 0 0 0 2px rgba(white, .2)
    --ShadowText   var(--Shadow)
    // Radius
    --Radius      12px
    --RadiusBig   999px
    --RadiusSmall 6px
    // Borders & Dividers
    --WidthBorder 2px
    --ColorBorder rgba(black, .2)
    // ANIMATIONS
    // Transitions
    --TimeTrans     .2s
    --TimeTransLong .4s
    // SIZE & SCALE
    --SizeBase 8px
    // Blocks
    --SizeBlock      calc(8 * var(--SizeBase))
    --SizeBlockSmall calc(4 * var(--SizeBase))
    --SizeField      calc(1.125 * var(--SizeBlock))
    // Dots
    --SizeDot var(--SizeBase)
    // Spacing
    --SpacingSmall calc(0.75 * var(--SizeBase))
    --Spacing      calc(1.5 * var(--SizeBase))
    --SpacingLarge calc(3 * var(--SizeBase))
    --SpacingText  calc(0.5 * var(--SizeBase))
    // Elements
    --SizeElemS calc(2 * var(--SizeBlock) + var(--SpacingLarge))
    --SizeElemM calc(32 * var(--SizeBase))
    --SizeElemL calc(48 * var(--SizeBase))
    // PAGE
    --WidthPageMax   1200px
    --WidthScrollbar calc(var(--SizeDot) + 2 * var(--SpacingSmall))
    --SizeProfileImg calc(2 * var(--SizeBlock))
    // Textarea
    --HeightTextarea      calc(2 * (var(--SizeBlock) + var(--Spacing)) - var(--Spacing))
    --HeightTextareaLarge calc(3 * (var(--SizeBlock) + var(--Spacing)) - var(--Spacing))
    // Modals
    --WidthModal calc(var(--SizeElemM) + 2 * var(--SpacingLarge))


body.theme_dark
    // Colors: Status
    --ColorError   var(--Red-Light)
    --ColorSuccess var(--Blue-Light)
    --ColorWarning var(--Orange-Light)
    // Text/Icons: Opacity
    --OpacityPri 1
    --OpacitySec .5
    --OpacityTri .25
    // Colors: Text
    --ColorTextPri var(--Grey000)
    --ColorTextSec var(--Grey400)
    --ColorTextTri var(--Grey600)
    // Colors: Icons
    --ColorIconPri      var(--Grey300)
    --ColorIconSec      var(--Grey500)
    --ColorIconTri      var(--Grey700)
    // Accent
    --ColorAccent            var(--Blue-Light)
    --ColorAccentIcon        var(--Blue-Medium)
    --ColorAccentText        var(--Blue-Medium)
    --ColorTextOnAccent      var(--Grey000)
    --ColorIconOnAccent      var(--Grey100)
    // Background Shading
    --ColorBGLight rgba(black, .4) //var(--Grey800)
    --ColorBG      rgba(black, .5) //var(--Grey850)
    --ColorBGDark  rgba(black, .6) //var(--Grey900)
    // Dots
    --ColorDot       var(--Grey400)
    --ColorDotDark   var(--Grey600)
    // Font Weight
    --FW_Light 600
    --FW_Bold  600
    --FW_Mono  400
    // Shadows
    --Shadow       inset 0 0 0 2px rgba(white, .1)
    --ShadowRaised inset 0 0 0 2px rgba(white, .2)
    // Border
    --ColorBorder rgba(white, .1)
